<div ng-show="cartCtrl.view">
	<div class="center_title_bar">Shopping Cart</div>
	<div class="prod_box_big">
	<div class="center_prod_box_big">
      <div class="table_grid" ng-show="cartCtrl.view==1">
         <table cellspacing="0" cellpadding="0">
            <tr>
               <th style="width:22px;"><a href="" class="pink">No.</a></th>
               <th style="width:auto;"><a href="" class="pink">ID</a></th>
               <th align="left" style="width:auto;"><a href="" class="pink">Image</a></th>
			   <th style="width:auto;"><a href="" class="pink">Name</a></th>
               <th style="width:auto;"><a href="" class="pink">Category</a></th>
               <th style="width:22px;"><a href="" class="pink">Price</a></th>
               <th style="width:22px;"><a href="" class="pink">Amount</a></th>
               <th style="width:22px;"><a href="" class="pink">Final</a></th>
               <th style="width:22px;"><a href="" class="pink">Remove</a></th>
            </tr>
            <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="x in cart">
               <td>{{$index+1}}</td>
               <td>{{x.id}}</td>
               <td><img alt="" ng-src="{{cartCtrl.calcImage(x.id)}}" width="30" height="30" border="0" /></td>
               <td>{{x.name}}</td>
               <td>{{x.category.name}}</td>
			   <td>{{x.price}}$</td>
			   <td>{{x.amount}}</td>
			   <td>{{cartCtrl.calcFinalPrice(x)}}$</td>
               <td><a href="" ng-click=""><img src="images/delete.png" width="22" height="22" border="0" /></a></td>
            </tr>
            
         </table>
         <br>
         <div class="right_button" ng-show="cart.length>0" style="padding-top:5px;">
         	<a href="" ng-click="cartCtrl.getDiscounts()">Get discounts</a>
         </div>
         <p class="right_text">Price without discounts: {{cartCtrl.cartPrice}}$</p>
      	 <br><br><br><br>
      	 
      	 <div ng-show="cartCtrl.receipt">
      	 	<p class="right_text" style="line-height:0px">Price with discounts: {{cartCtrl.receipt.finalPrice}}$</p>
      	 	<br>
      	 	<div class="right_text" style="line-height:0px">
      	 	Use points(max: {{cartCtrl.max}}):<input type="number" min=0 ng-model="cartCtrl.spentPoints"></div><br><br>
      	 	<div class="right_buttons">
        		<div class="right_button" ><a href="" ng-click="cartCtrl.createReceipt()">Create Receipt</a></div>
      		</div>
      	</div>
      </div>
     </div>
     </div>
</div>
<div ng-show="cartCtrl.view2">
	<div class="center_title_bar">Receipt</div>
	<div class="prod_box_big">
	<div class="table_grid">
         <table cellspacing="0" cellpadding="0">
            <tr>
               <th style="width:22px;"><a href="" class="pink">No.</a></th>
               <th style="width:auto;"><a href="" class="pink">ID</a></th>
               <th align="left" style="width:auto;"><a href="" class="pink">Image</a></th>
			   <th style="width:auto;"><a href="" class="pink">Name</a></th>
               <th style="width:auto;"><a href="" class="pink">Category</a></th>
               <th style="width:22px;"><a href="" class="pink">Price</a></th>
               <th style="width:22px;"><a href="" class="pink">Amount</a></th>
               <th style="width:22px;"><a href="" class="pink">Final</a></th>
            </tr>
            <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="x in cartCtrl.articles">
               <td>{{$index+1}}</td>
               <td>{{x.id}}</td>
               <td><img alt="" ng-src="{{cartCtrl.calcImage(x.id)}}" width="30" height="30" border="0" /></td>
               <td>{{x.name}}</td>
               <td>{{x.category.name}}</td>
			   <td>{{x.price}}$</td>
			   <td>{{x.amount}}</td>
			   <td>{{cartCtrl.calcFinalPrice(x)}}$</td>
            </tr>
            
         </table>
        </div>
		<div class="center_prod_box_big">
			<p>Status: {{cartCtrl.receipt.state}}</p>
			<p>Total Price: {{cartCtrl.receipt.totalPrice}}$</p>
			<p>Discount: {{cartCtrl.receipt.discount}}%</p>
			<p>Final Price: {{cartCtrl.receipt.finalPrice}}$</p>
			<p>Spent Points: {{cartCtrl.receipt.spentPoints}}</p>
			<p>Earned Points: {{cartCtrl.receipt.earnedPoints}}</p>
		</div>
		
		<div class="center_prod_box_big">
		<div class="cart_title">Receipt Discounts</div>
	
		<div class="table_grid">
         <table cellspacing="0" cellpadding="0">
            <tr>
               <th style="width:22px;"><a href="" class="pink">Number</a></th>
               <th style="width:auto;"><a href="" class="pink">Type</a></th>
               <th style="width:auto;"><a href="" class="pink">Discount</a></th>
            </tr>
            <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="x in cartCtrl.receipt.discounts">
               <td>{{$index+1}}</td>
               <td>{{x.type}}</td>
               <td>{{x.discount}}%</td>
            </tr>
            
         </table>
         </div>
        </div>
        <div class="center_prod_box_big">
		<div class="cart_title">Item Discounts</div>
	
		<div class="table_grid">
         <table cellspacing="0" cellpadding="0">
            <tr>
               <th style="width:22px;"><a href="" class="pink">Number</a></th>
               <th style="width:auto;"><a href="" class="pink">Name</a></th>
               <th style="width:auto;"><a href="" class="pink">Type</a></th>
               <th style="width:auto;"><a href="" class="pink">Discount</a></th>
            </tr>
            <tr ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="x in cartCtrl.itemDiscounts">
               <td>{{$index+1}}</td>
               <td>{{x.name}}</td>
               <td>{{x.type}}</td>
               <td>{{x.discount}}%</td>
            </tr>
            
         </table>
         </div>
        </div>
	</div>
</div>