

<div ng-show="homeCtrl.view">
	<div class="center_title_bar">Articles</div>
	<div class="prod_box" ng-repeat="article in homeCtrl.articles">
		<div class="center_prod_box" style="padding-bottom: 4px;">
			<div class="product_title">
				<a href="">{{article.name}}</a>
			</div>
			<div class="product_img">
				<a href=""><img width=100 height=100
					ng-src="{{homeCtrl.calcImage(article.id)}}" alt="" border="0" /></a>
			</div>
			<div class="prod_price">
				<span class="price">{{article.price}}$</span><a
					style="padding-left: 10px;" href="">Details</a>
			</div>

		</div>
		<div class="prod_details_tab">
			<input type="number" class="text_input"
				style="width: 90px; margin-top: 3px;" placeholder="amount"
				ng-model="article.amount" /> <a href="" ng-click="indexCtrl.addToChart(article)" class="prod_buy">Add to
				Cart</a>
		</div>
	</div>

</div>

