
<div class="center_title_bar">Log In</div>
<div class="prod_box_big">
    <div class="center_prod_box_big">
      <div class="login_form">
        <div class="form_row">
          <label class="contact"><strong>Username:</strong></label>
          <input type="text" class="text_input" ng-model="loginCtrl.username"/>
        </div>
        <div class="form_row">
          <label class="contact"><strong>Password:</strong></label>
          <input type="password" class="text_input" ng-model="loginCtrl.password"/>
        </div>
        <div class="form_row"> <a href="" ng-click="loginCtrl.login()" class="prod_details">Log in</a> </div>
      </div>
    </div>
</div>
