
<div class="center_title_bar">Create Account</div>
<div class="prod_box_big">
    <div class="center_prod_box_big">
      <div class="login_form">
		
		<div class="form_row">
		  <div style="float:left" > <img id="image" src="images/user.png" width="122" height="125" border="0" alt="" /> </div>
		  <input style="float:left" type="file" id="file" accept="image/*" onchange="uploadFile()"/>
		</div>
		
		<div class="form_row" >
          <label class="contact" ><strong>Username:</strong></label>
          <input type="text" class="text_input" />
        </div>
        
		<div class="form_row">
          <label class="contact"><strong>Password:</strong></label>
          <input type="text" class="text_input" />
        </div>
			
		<div class="form_row">
          <label class="contact"><strong>First Name:</strong></label>
          <input type="text" class="text_input" />
        </div>
			
		<div class="form_row">
          <label class="contact"><strong>Last Name:</strong></label>
          <input type="text" class="text_input" />
        </div>
			
		<div class="form_row">
          <label class="contact"><strong>Address:</strong></label>
          <input type="text" class="text_input" />
        </div>
			
        <div class="form_row"> <a href="#" class="prod_details">Register</a> </div>
	
      </div>
    </div>
</div>